.btn {
  border: none;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 1.6rem;
  border-radius: 1rem;
  background-color: var(--btn-color);
  color: var(--main-color);
}

.btn:hover {
  background-color: var(--btn-hover);
  cursor: pointer;
  color: var(--secondary-color);
}
