.section {
  margin-bottom: 4rem;
}

.presentation {
  font-size: 2rem;
  padding: 3rem;
  text-align: center;
}

@media (max-width: 700px) {
  .presentation {
    font-size: 1.6rem;
    padding: 1.5rem;
  }
}
