.logoContainer {
  margin-left: 2rem;
  font-weight: bold;
}

.logo {
  text-decoration: none;
  font-size: 2.5rem;
  color: inherit;
  font-family: var(--secondary-font);
  padding: 2rem;
  background-image: linear-gradient(var(--border-color), var(--border-color));
  background-position: 50% calc(100% - 1.5rem);
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition:
    background-size 0.3s ease,
    color 0.2s ease;
}

.logo:hover {
  color: var(--secondary-color);
  background-size: 100% 2px;
}
