.list {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.link {
  display: inline-block;
  text-decoration: none;
  font-size: 1.6rem;
  color: inherit;
  padding: 2rem;
  font-weight: bold;
}

.link:hover {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--border-color);
}
