.list {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.link {
  display: inline-block;
  text-decoration: none;
  font-size: 1.6rem;
  color: inherit;
  padding: 2rem;
  font-weight: bold;

  background-image: linear-gradient(var(--border-color), var(--border-color));
  background-position: 50% calc(100% - 1.5rem);
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition:
    background-size 0.3s ease,
    color 0.2s ease;
}

.link:hover {
  color: var(--secondary-color);
  background-size: 100% 2px;
}

.count {
  background-color: #c47463;
  border-radius: 50%;
  padding: 0.5rem;
  text-align: center;
  font-size: 1rem;
}
