.footer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  background: var(--secondary-background);
  width: 100%;
  min-height: 9rem;
  padding: 2rem 1rem;
  border-top: 2px solid var(--border-color);
}

.copy {
  margin-top: 2rem;
  margin-left: 2rem;
}

.list {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.listItem {
  padding: 1rem;
}

.img {
  width: 5rem;
  padding: 0.5rem;
}
