:root {
  --main-background: #1f1f28;
  --secondary-background: #2a2a37;
  --main-color: #c0a36e;
  --main-font: "Roboto Mono", monospace;
  --secondary-font: "Press start 2P", system-ui;
  --bnt-color: #7e9cd8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--main-font);
  font-size: 1.6rem;
  background: var(--main-background);
  color: var(--main-color);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  font-family: var(--secondary-font);
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.15;
  margin: 3rem 0;
  text-align: center;
}

h2 {
  font-family: var(--secondary-font);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  margin: 3rem 0;
}
